$background-color: #343D4C;
$background-left: #3A5F99;
$background-right: #232933;
$txt-color: rgb(233, 233, 233);

@mixin flexBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin bg-position{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-sun{
    background: url('../img/sun.jpg');
    @include bg-position();
}
.background-sunny-clouds{
    background: url('../img/sunny-clouds.jpg');
    @include bg-position();
}
.background-grey-clouds{
    background: url('../img/grey-clouds.jpg');
    @include bg-position();
}
.background-little-rain{
    background: url('../img/little-rain.jpg');
    @include bg-position();
}
.background-big-rain{
    background: url('../img/big-rain.jpg');
    @include bg-position();
}
.background-night{
    background: url('../img/night.jpg');
    @include bg-position();
}


*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $background-color;
    font-family: 'Montserrat', sans-serif;
    color: $txt-color;
}

#bloc-meteo{
    width: 45%;
    min-width: 650px;
    height: 500px;
    @include flexCenter();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .left-bloc{
        width: 45%;
        height: 100%;
        // background-color: $background-left;
        border-radius: 20px;
        z-index: 2;
        @include flexBetween();
        padding: 2vW;
        .left-bloc-title{
            // background: rgba($color: $background-right, $alpha: 0.9);
            // color: rgb(233, 233, 233);
            // color: $background-right;
            padding: 20px;
            border-radius: 10px;
            #day{
                font-size: 1.6rem;
            }
            #localisation{
                // margin-top: -200px;
                font-size: 1.3rem;
                font-weight: 300;
                text-shadow: 0 0 2px $background-color;
            }
        }
    }
}

.left-bloc{
    .temperatures{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 14px;
        #temperature{
            font-size: 4.2rem;
            font-weight: 300;
            // color: $;
            text-shadow: 0 0 2px $background-color;
            // padding: 20px;
            padding-left: 6px;
        }
        .min-max{
            display: flex;
            // justify-content: space-between;
            // align-items: flex-start;
            .item-temperature{
                display: flex;
                align-items: flex-start;
                img{
                    height: 15px;
                    width: 15px;
                    margin: 0 6px;
                }
            }
        }
    }
}

#bloc-meteo{
    .right-bloc{
        width: 55%;
        height: 95%;
        background-color: $background-right;
        transform: translateX(-10px);
        z-index: 1;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        // @include flexBetween();
        padding: 2vw;
        .supp-data{
            line-height: 1.6rem;
            width: 100%;
            display: flex;
            justify-content: space-around;
            .infos{
                h6{
                    text-transform: uppercase;
                    font-weight: 200;
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    img{
                        width: 15px;
                        height: 15px;
                        margin-right: 6px;
                    }
                }
                p{
                    text-align: justify;
                    width: 100%;
                    display: flex;
                }
            }
        }
        .next-days{
            margin: 80px auto 60px;
            display: flex;
            flex-direction: column;
            .day{
                // text-align: center;
                // background-color: rgb(233, 233, 233);
                // color: $background-right;
                border: 1px solid $txt-color;
                padding: 10px 15px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-size: 0.8rem;
                    &.week-day_temp{
                        display: flex;
                        // width: 50%;
                        align-items: center;
                        justify-content: space-between;
                        img{
                            width: 15px;
                            margin: 0 6px 0 12px;
                        }
                    }
                    &.week-day-img img{
                        width: 25px;
                    }
                }
            }
        }
    }
}





// ------------------------- media queries ----------------------- 
@media screen and (max-width: 728px) {

    #bloc-meteo{
        width: 100%;
        min-width: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        .left-bloc{
            padding: 32px;
            width: 100%;
            height: 100%;
            border-radius: 0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            .left-bloc-title{
                margin-top: 20px;
                border-radius: 0;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                width: 300px;
            }
            #temperature{
                // color: $;
                // text-shadow: none;
                // background-color: rgba($color: $background-right, $alpha: 0.9);
                // background-color: white;
                margin-top: -15px;
                padding: 10px;
                width: 300px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        .right-bloc{
            width: 90%;
            height: auto;
            background-color: rgba($color: $background-right, $alpha: 1);
            transform: translateX(0);
            border-radius: 10px;
            position: absolute;
            bottom: 0;
            z-index: 3;
            padding: 32px;
            margin-bottom: 32px;
            .next-days{
                margin: 30px 0 0;
            }
        }
    }
}

.left-bloc{
    .temperatures{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        .min-max{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            .item-temperature{
                display: flex;
                align-items: center;
                padding: 0 6px;
                img{
                    height: 15px;
                    width: 15px;
                    margin: 0 3px;
                }
            }
        }
    }
}